.booking_step {
  width: 15.8em;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 2em;
  padding: 2em;

  /*  */
  position: relative;
  box-shadow: 4px 4px 4px #000000;
}

.booking_step::before {
  content: "";
  position: absolute;
  top: 0;
  width: 35%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.1em;
  background-color: #000000;
  box-shadow: 0 2px 5px  #000000;
}

.booking_step span {
  font-size: 1.5rem;
}

.booking_step p {
  font-size: 0.9rem;

  line-height: 1.8;
}
