.hero_step {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.2em;
  max-width: 25em;
  background-color: gray;
  padding: 1.2em;
  border-radius: 0.6em;
  font-family: "Roboto";
}

.hero_step > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #222222;
  border-radius: 50%;
}

.hero_step > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.hero_step > div:nth-child(2) p {
  font-size: 0.7rem;
  line-height: 1.5;
}

.hero_step > div:nth-child(2) h6 {
  font-size: 1.1rem;
}
